html {
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: $color-blue-dark;
    // background-image: url(../img/environment/treeSmall.png);
    color: $color-white;
}
