//FONT
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
//COLORS
$color-black: #171717;
$color-white: #f7f7f7;
$color-red: #E74C3C;
$color-grey: #ECF0F1;
$color-blue-dark: #2C3E50;
$color-blue-medium: #2980B9;
$color-blue-light: #3498DB;
$color-green: #30B41D;
$color-link: $color-blue-medium;
//SCREEN SIZES
$break-large: 1500px;
$break-medium: 1024px;
$break-small: 600px;
$break-small2: 601px;
$break-xs: 370px;
//FONT SIZES
//These font sizes are based upon a 3:4, or .75 scale. Each font size is approximately 75% the size of the larger font size.
// $font-xs: 9px;
// $font-smaller: 12px;
$font-small: 16px;
$font-medium: 21px;
$font-big: 28px;
$font-bigger: 37px;
$font-huge: 50px;
$font-xl: 66px;
$font-xxl: 88px;
