//COLORS
$color-background-dark: #2F2F2F;
$color-background: #EAE2CC;
$color-orange: #E6A301;
$color-blue-light: #51B0E7;
$color-blue-dark: #375398;
$color-green: #029C67;
$color-yellow: #EAE22B;
//SCREEN SIZES
$break-large: 1500px;
$break-medium: 1024px;
$break-small: 600px;
$break-small2: 601px;
$break-xs: 370px;
//FONT SIZES
//These font sizes are based upon a 3:4, or .75 scale. Each font size is approximately 75% the size of the larger font size.
$font-xs: 9px;
$font-smaller: 12px;
$font-small: 16px;
$font-medium: 21px;
$font-big: 28px;
$font-bigger: 37px;
$font-huge: 50px;
$font-xl: 66px;
$font-xxl: 88px;
