//PAGE STYLING
html, body {
   font-family: "Helvetica", sans-serif;
}
html {
   box-sizing: border-box;
   font-size: $font-default;
}
*, *:before, *:after {
   box-sizing: inherit;
}

body {
    background-image: url(../img/confectionary.png);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.container {
    margin: 0 auto;
    margin-top: 20vh;
}

//TODO style growl alerts.
a.btn, button, input.form-control {
    width: 200px;
    min-width: 20vw;
    margin: 1rem auto;
    display: block;
}
