<div class="header">
    <nav class="navbar" role="navigation">
        <ul>
            <li><a class="navbar--button_brand" ng-href="/game">GAME</a></li>
            <li ng-hide="user.local.username"><a ng-href="/login">login</a></li>
            <li ng-hide="user.local.username"><a ng-href="/signup">register</a></li>
            <li ng-show="user.local.username"><a ng-href="/leaderboards">leaderboards</a></li>
            <li ng-show="user.local.username"><a ng-href="/profile">profile</a></li>
            <li ng-show="user.local.username"><a logout class="navbar--button_logout" href="/logout">logout</a></li>
        </ul>
    </nav>
</div>

<div class="page--leaderboards">
    <div class="page--leaderboards_header">
        <!-- <h1>{{ leaderboards.length }} scores!</h1> -->
        <h1>Leaderboard</h1>
    </div>

    <div class="page--leaderboards_body">
        <div ng-repeat="leaderboard in leaderboards | orderBy:'-local.score'">
            <p class="score_row"><span>User: </span>{{ leaderboard.local.username }} - <span>Score: </span> {{ leaderboard.local.score }}</p>
        </div>
    </div>
</div>
