<div class="header">
    <nav class="navbar" role="navigation">
        <ul>
            <li><a class="navbar--button_brand" ng-href="/game">GAME</a></li>
            <li ng-hide="user.local.username"><a ng-href="/login">login</a></li>
            <li ng-hide="user.local.username"><a ng-href="/signup">register</a></li>
            <li ng-show="user.local.username"><a ng-href="/profile">profile</a></li>
            <li ng-show="user.local.username"><a logout class="navbar--button_logout" href="/logout">logout</a></li>
        </ul>
    </nav>
</div>

<div class="page--login">
    <h1>Login</h1>
    <div growl></div>

    <!-- LOGIN FORM -->
    <form ng-submit="login()" ng-controller="LoginForm">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>

    <span><p>Need an account? <a href="/signup">Signup</a>! Or go back <a href="/">home</a>.</p></span>
</div>
