<div class="page--profile">
    <div class="page--profile_header">
        <h1 ng-show="user.local.username">Welcome, {{user.local.username}}!</h1>

        <p>
            <a logout href="/logout">Logout</a>
        </p>
    </div>

    <div class="page--profile_body">
        <!-- LOCAL INFORMATION -->
        <div ng-show="user.local.username">
            <container>
                <p>
                    <!-- <strong>id</strong>: {{ user._id }}<br> -->
                    <strong>Username</strong>: {{ user.local.username }}<br>
                    <strong>High Score</strong>: {{ user.local.score }}<br>
                    <!-- <strong>password</strong>: {{ user.local.password }} -->
                </p>
            </container>
        </div>
    </div>
</div>
